# ROS 2 build and install directories
/build/
/install/
/log/


# Ignore Python cache files
__pycache__/

# Ignore compiled object files and binaries
*.o
*.out
*.so
*.a
*.d
*.exe

# Ignore backup files
*~
*.swp
